CONFIG_64BIT=y
CONFIG_X86_64=y
CONFIG_BLK_DEV_INITRD=y
CONFIG_BINFMT_ELF=y
CONFIG_EXPERT=y
CONFIG_PRINTK=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_TMPFS_POSIX_ACL=y
CONFIG_NET=y
CONFIG_INET=y
CONFIG_PACKET=y
CONFIG_UNIX=y
CONFIG_PCI=y
CONFIG_VIRTIO_PCI=y
CONFIG_VIRTIO_BLK=y
CONFIG_VIRTIO_NET=y
CONFIG_SERIAL_8250=y
CONFIG_SERIAL_8250_CONSOLE=y
CONFIG_DEBUG_FS=y
CONFIG_DAMON=y
CONFIG_DAMON_SYSFS=y
CONFIG_USERFAULTFD=y
CONFIG_EXPERIMENTAL_MEMORY_INTENT=y
CONFIG_EXPERIMENTAL_MEMORY_INTENT_PROC=y
# CONFIG_EXPERIMENTAL_MEMORY_INTENT_RECLAIM is not set
